SERVER_PORT=8000

JWT_SECRET_KEY=jwt_secret_key_minimum_32_characters

FACEBOOK_ID=facebook_id
FACEBOOK_SECRET=facebook_secret

GOOGLE_ID=google_id
GOOGLE_SECRET=google_secret

ENCRYPTION_KEY=encryption_key
IV_KEY=iv_key

RESEND_KEY=resend_key
RESEND_EMAIL=resend_email

FRONTEND_URL=frontend_url